@model EntityLayer.Fakulte
@{
    ViewBag.Title = "AddFakulte";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Yeni Fakülte Ekleme</h2>
<br />
@using (Html.BeginForm("AddFakulte", "Fakulte", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Fakülte Adı")
        @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ad)
        <br /><br />
        @Html.Label("Adres")
        @Html.TextBoxFor(x => x.adres, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.adres)
        <br /><br />
        @Html.Label("Telefon")
        @Html.TextBoxFor(x => x.tel, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.tel)
        <br /><br />
        @Html.Label("Mail")
        @Html.TextBoxFor(x => x.mail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.mail)
        <br /><br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}

